<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="css/style123.css">
</head>

<body>
    <main>
            <div class="container">
                <div class="row">

                    <div class="form">
                        <div class="col-lg-5">
                        <h1 style="color:#fd7e14;"> SIGN IN</h1>
                        <div class="" style="border: 1px solid; width:40px; height: 5px; background-color: #fd7e14; border: none;"></div>

                        <p style="color:grey;">Please Sign In to your Account to continue with App</p>
                    </div>
                    <form>                          
                        <div class="form-row">
                          <div class=" name mb-3 ">
                            <ion-icon name="mail-outline" style="position:absolute; margin-left:15px; margin-top: 17px;"></ion-icon>
                            <input type="text" class="form-control" id="email" placeholder="       Email Address" name="mail" class="form-control" style="width:500px ;">
                          </div>

                           <div class="mb-3 ">                           
                            <ion-icon name="key-outline" style="position:absolute; margin-left:15px; margin-top: 17px;"></ion-icon>
                            <input type="password" class="form-control" id="password" name="pass" placeholder="        ***********************************"style="width:500px ;" >
                              <a href="#" class="" style="text-decoration:none ; color:green; margin-left: 65%;">Forgot password?</a>
                            </div>

                             <input type="submit" value="Continue" class="btn1">


                        <p style="text-align:center;">Don't have an account?</p>
                        <a href="signup.html" class=""style="text-decoration:none; color:green; margin-left: 45%;;">SIGN UP</a>

                    </form>
                    </div>                   
                </div>
            </div>
    </main>    

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html> 